{% extends 'foodblogapp/base.html' %}
{% load static %}

{% block content %}
<div class="container col-sm-10">
    <div class="jumbotron mx-3 my1 ">
        <h1 class="display-6">About Us</h1><hr class="my-4">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum blanditiis itaque quis rerum numquam maxime
            odit praesentium aspernatur iusto alias soluta, quia totam id necessitatibus mollitia natus veniam adipisci
            neque.
            Beatae eveniet perferendis optio, veniam itaque, fuga labore, rem voluptatibus ipsam cum voluptate corrupti
            commodi libero pariatur velit suscipit assumenda similique! Ea in, dolor optio tenetur illo ipsam culpa
            quos.</p>
    </div>
</div>
{% endblock content %}