<nav class="navbar navbar-expand-lg navbar-light bg-gradient rounded-3 my-4">
  <div class="container">
    <a class="navbar-brand display-6 " href="/">King's food blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu p-0" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-center" href="#">Arts</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">Foods</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">International</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">Movies</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">Nature</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">News</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">Science</a></li><hr class="p-0 m-0">
            <li><a class="dropdown-item text-center" href="#">Sports</a></li>        
          </ul>
        </li>
        
        {% if not request.user.is_authenticated %}
        <li class="nav-item"></li>
        <a class="nav-link" href="{%url 'signup'%}">Sign-up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'signin'%}">Sign-in</a>
        </li>        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{%url 'dashboard'%}">Dashbord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signout' %}">Logout</a>
        </li>
        {% endif%}
        <li class="nav-item">
          <a class="nav-link " href="{%url 'about'%}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'contact'%}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>